
  @font-face {
    font-family: 'Roboto-Regular';
    src: url('../plugin/roboto/roboto-regular.woff2') format('woff2'),
        url('../plugin/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto-Light';
    src: url('../plugin/roboto/Roboto-Light.woff2') format('woff2'),
        url('../plugin/roboto/Roboto-Light.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto-Bold';
    src: url('../plugin/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../plugin/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  :root {
    --primary-color:        #057a8d;
    --secondary-color:      #f1c111;
    --warning-color:        #eff32c;
    --linkeding-color:      #0376b5;
    --facebook-color:       #2d4072;
    --google-color:         #da4c3e;
    --white-color:          #ffffff;
    --dark-color:           #171819;
    --project-bg:           #f0f8ff;
    --bg-premium-jobs:      #f8fafc;
    --menu-bg:              #094962;
    --bg-primary:           #33aacc;
    --bg-primary-helf:      #ebf4f7;

    --title-color:          #15141a;
    --gray-color:           #909090;
    --link-color:           #404040;
    --search-link-color:    #4d7b8d;
    --p-color:              #666262;
    --span-color:           #094962;

    --base-font-family:     'Roboto-Light', sans-serif;
    --title-font-family:    'Roboto-Regular', sans-serif;
    --font-bold-family:     'Roboto-Bold', sans-serif;
    --font-weight-bold:     bold;

    --h1-font-size:         42px;
    --h2-font-size:         32px;
    --h3-font-size:         24px;
    --h5-font-size:         14px;
    --p-font-size:          14px;
    --span-font-size:       12px;
    --min-span-font-size:   12px;

    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100px;
    --border-radius-small:  5px;
  }
  body{
    background: var(--white-color);
    font-family: var(--base-font-family);
  }
   /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: var(--title-font-family);
    line-height: inherit;
  }

  h1 {
    color: var(--title-color);
    font-size: var(--h1-font-size);
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: 100;
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: 100;
    margin-bottom: 50;
    color: var(--menu-bg);
  }

  h4 {
    color: var(--gray-color);
    font-family: var(--base-font-family);
    font-size: var(--p-font-size);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  h5 {
    color: var(--menu-bg);
    font-family: var(--font-bold-family);
    font-size: var(--h5-font-size);
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    line-height: 1.5em;
    margin: 0;
  }
  small {
    color: var( --gray-color);
    font-size: var(--small-font-size);
    line-height: 1.5em;
  }
  span{
    color: var( --span-color);
    font-size: var(--span-size);
    line-height: 1.5em;
  }
  b, 
  strong {
    letter-spacing: 0;
    color: var(--white-color);
  }
  button.btn-warning{
    background: var(--secondary-color);
  }
  /* Header or Menu */
  .navbar {
    background: var(--menu-bg);
    opacity: 0.9;
  }
  .navbar-nav .nav-item a{
    margin-right: 0.9rem;
  }
  .navbar-nav .nav-item .btn-outline-light{
    margin-right: 0.9rem;
  }
  .navbar-nav .nav-item a.nav-link{
    color: var(--white-color);
  }
  .navbar-nav .nav-item button.warning{
    color: var(--title-color);
  }
  img.brand-logo{
    height: 60px;
  }
  /* End Header or Menu */
  /* Find The Job */
  .home-section {
    padding-top: 90px;
    padding-bottom: 40px;
  }
  .bg-section{
    background: var(--menu-bg);
    -webkit-transform: skew(0deg, 0deg);
    transform: skew(0deg, -4deg);
    margin-top: -200px;
  }
  .bg-section .container{
      -webkit-transform: skew(0deg, 0deg);
      transform: skew(0deg, 4deg);
      padding-top: 200px;
      color: var(--white-color);
  }
  #header-findjob{
    margin-top: 100px;
  }
  #bank-pay{
    margin-top:  30px;
    padding-bottom: 15px;
  }
  .d-flex .align-seft-start img{
    height: 40px;
  }
  .d-flex .align-seft-start button{
    font-size: 12px;
    width: 250px;
    margin-top: 10px;
  }
  .d-flex .align-seft-start p{
    font-family: var(--base-font-family);
    font-size: 16px;
    color: var(--white-color);
  }
  button.btn:hover{
    opacity: 0.9;
  }
  button span{
    color: var(--white-color);
  }
  button.btn.btn-google {
    background: var(--google-color);
    color: var(--white-color);
    font-family: var(--title-font-family);
    margin-left: 10px;
  }
  button.btn.btn-linkedin{
    background: var(--linkeding-color);
    color: var(--white-color);
    font-family: var(--title-font-family);
    margin-right: 10px;
  }
  button.btn.btn-facebook{
    background: var(--facebook-color);
    color: var(--white-color);
    font-family: var(--title-font-family);
  }
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
  }
    .hr-text:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    .hr-text:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      color: #818078;
      background-color: #fcfcfa;
  }
  input.bg-input{
    background: var(--bg-primary-helf);
  }
  span.bg-input-i{
    background: var(--bg-primary);
  }
  p small{
    font-size: var(--span-font-size);
  }
  /* Find The Job */
  /* Search Job */
  .search-head-section {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .form-search{
    padding-top: 24px;
  }
  .form-search h3{
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
  }
  #button-addon2{
    width: 125px;
  }
  #lunch{
    width: 120px;
    font-size: 14px;
    border: none;
    color: var(--gray-color);
    font-family: var(--base-font-family);
    background: var(--white-color);
    padding: 10px;
  }
  #lunch option{
    font-size: 14px;
    border: none;
    color: var(--dark-color);
    font-family: var(--base-font-family);
    padding: 10px;
  }
  #search{
    border-style: solid;
    border-color: var(--menu-bg);
    border-radius: 10px;
    border-width: 5px;
  }
  #job-search{
    border: none;
    color: var(--gray-color);
    font-family: var(--base-font-family);
  }
  .search-hot{
    margin-top: 25px;
  }
  .search-hot span{
    color: var(--span-color) ;
    font-family: var(--title-font-family);
    margin-top: 10px;
  }
  a.category-link {
    color: var(--search-link-color);
  }
  a.search-link{
    color: var(--search-link-color);
    padding: 3px;
  }
  /* End Search Job */
  /* Start Premium Job */
  .premium-jobs-wrap{
    background: var(--bg-premium-jobs);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .premium-job-box {
    height: 100%;
    border-radius: 5px;
    padding: 5px;
  }
  .premium-job-logo {
    text-align: center;
    height: 86px;
    width: 86px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.35);
    padding: 8px;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  p a {
    font-size: var(--p-font-size);
  }
  p label{
    align-items: right;
    margin-left: 50px;
    background: var(--warning-color);
    padding-right: 15px;
    padding-left: 15px;
  }
  p.company {
    font-size: var(--span-font-size);
    margin-top: -15px;
  }
  p.location {
    font-size: var(--min-span-font-size);
    margin-top: -15px;
  }
  .img-banner{
    width: 350px;
  }
  /* End Premium Job */
  /* Start Urgent Job */
  .urgent-jobs-wrap{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .urgent-job-box{
    height: 100%;
    margin-bottom: 16px;
  }
  .urgent-job-box h3{
    font-size: var(--title-font-family);
  }
  .urgent-job-box h3 a{
    font-size: var(--title-font-family);
    color: var(--menu-bg);
  }
  .urgent-job-box h3 span{
    font-size: var(--title-font-family);
    position: absolute;
    align-items: right;
    padding-left: 60px;
    color: var(--warning-color);
  }
  .urgent-job-box p{
    font-size: var(--title-font-family);
  }
  /* End Urgent Job */
  /* Featured Employer */
  .center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .featured-employer-wrap .w-custom{
    display: block;
    width: 90px;
    height: 60px;
    border-style: solid;
    border-color: #36445241;
    border-width: 1px;
    border-radius: 5px;
  }
  /* Featured Employer */
  /* Recruitment Agencies */
  .recruitment-agencies-wrap{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .recruitment-agencies-wrap .w-custom{
    display: block;
    width: 90px;
    height: 60px;
    border-image-width: auto;    
  }
  /* Recruitment Agencies */
  /* Career Resource*/
  .career-resource-wrap{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .career-resource-wrap .card-img-top{
    width: 350px;
    height: 200px;
    
  }
  
   /* Career Resource*/
   /* Cooperation Partner */
  .cooperation-partner {
    display: block;
    background: url('../img/about.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    min-width: 100%;
    padding-top: 16px;
  }
  .cooperation-partner .w-custom{
    width: 120px;
    height: 70px;
    border-style: solid;
    border-color: #36445241;
    border-width: 1px;
    border-radius: 5px;
  }
  /* Cooperation Partner */
/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (min-width: 1200px) {
    .about-info h2 {
      max-width: 70%;
    }
  }

  @media screen and (min-width: 1366) {
   
    .project h2 {
      max-width: 32%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 991px) {

    .hero {
      padding-top: 14em;
    }

    .hero-text {
      bottom: 2em;
    }

    .navbar {
      padding: 1em;
    }

    .navbar-collapse {
      text-align: center;
      padding: 2.5em 0;
    }

    .nav-link {
      display: inline-block;
    }

    .navbar-expand-lg .navbar-nav .nav-link.contact {
      margin: 1em 0;
    }
    .copyright-text, 
    .footer-link, 
    .site-footer .social-icon {
      margin-top: 3em;
      padding: 0;
      text-align: left;
    }
  }

  @media screen and (max-width: 767px) {
    
    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 22px;
    }
    #header-findjob{
      margin-top: 0px;
    }

    .footer-link, 
    .site-footer .social-icon {
      margin-top: 1em;
    }
    .img-banner{
      width: 100%;
    }
    .featured-employer-wrap .w-custom{
      display: block;
      width: 75px;
      height: 45px;
      border-style: solid;
      border-color: #36445241;
      border-width: 1px;
      border-radius: 5px;
    }
    .cooperation-partner {
      background: url('../img/about.png');
      background-repeat: repeat;
      background-size: cover;
      background-position: center;
      min-height: 400px;
      min-width: 100%;
      padding-top: 16px;
    }
    .cooperation-partner .w-custom{
      display: block;
      width: 75px;
      height: 45px;
      border-style: solid;
      border-color: #36445241;
      border-width: 1px;
      border-radius: 5px;
    }
    .copyright-text {
      margin: 2.5em 0 1em 0;
    }

    .footer-link li {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 360px) {
    body{
      font-family: var(--title-font-family);
      font-size: 11px;
    }

    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 16px;
    }

    h3 {
      font-size: 12px;
    }

    .premium-job-logo {
      text-align: center;
      height: 86px;
      width: 86px;
      box-shadow: 0 1px 2px rgba(0,0,0,.35);
      padding: 10px;
      display: none;
    }
    button.btn{
      font-family: var(--title-font-family);
      font-size: 14px;
    }
    button.btn.btn-linkedin{
      font-family: var(--title-font-family);
      font-size: 12px;
    }
    button.btn.btn-facebook{
      font-family: var(--title-font-family);
      font-size: 12px;
    }
    button.btn.btn-google{
      font-family: var(--title-font-family);
      font-size: 12px;
    }
    .featured-employer-wrap .w-custom{
      display: block;
      width: 75px;
      height: 45px;
      border-style: solid;
      border-color: #36445241;
      border-width: 1px;
      border-radius: 5px;
    }
    .cooperation-partner {
      display: block;
      background: url('../img/about.png');
      background-repeat: repeat;
      background-size: cover;
      background-position: center;
      min-height: 260px;
      min-width: 100%;
      padding-top: 16px;
    }
    .footer-link, 
    .site-footer .social-icon {
      margin-top: 1em;
    }

    .copyright-text {
      margin: 2.5em 0 1em 0;
    }

    .footer-link li {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 411px) {
    body{
      font-family: var(--title-font-family);
      font-size: 11px;
    }

    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 16px;
    }

    h3 {
      font-size: 12px;
    }

    .premium-job-logo {
      text-align: center;
      height: 86px;
      width: 86px;
      box-shadow: 0 1px 2px rgba(0,0,0,.35);
      padding: 10px;
      display: none;
    }
    button.btn{
      font-family: var(--title-font-family);
      font-size: 14px;
    }
    button.btn.btn-linkedin{
      font-family: var(--title-font-family);
      font-size: 12px;
    }
    button.btn.btn-facebook{
      font-family: var(--title-font-family);
      font-size: 12px;
    }
    button.btn.btn-google{
      font-family: var(--title-font-family);
      font-size: 12px;
    }
    .featured-employer-wrap .w-custom{
      display: block;
      width: 75px;
      height: 45px;
      border-style: solid;
      border-color: #36445241;
      border-width: 1px;
      border-radius: 5px;
    }
    .cooperation-partner {
      display: block;
      background: url('../img/about.png');
      background-repeat: repeat;
      background-size: cover;
      background-position: center;
      min-height: 260px;
      min-width: 100%;
      padding-top: 16px;
    }
    .footer-link, 
    .site-footer .social-icon {
      margin-top: 1em;
    }

    .copyright-text {
      margin: 2.5em 0 1em 0;
    }

    .footer-link li {
      margin-left: 0;
    }
  }